APP_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@db:5432/paramascotasec?schema=public
COMPOSE_PROFILES=${APP_ENV}
#docker compose exec app sh -c 'echo APP_ENV=$APP_ENV NODE_ENV=$NODE_ENV && ps -ef | grep "npm run"'
#sh -c 'echo APP_ENV=$APP_ENV NODE_ENV=$NODE_ENV && ps -ef | grep \"npm run\"'